.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.alert.alert-danger {
	color: var(--error);
	padding-bottom: 3px;
}

.form-error {
	color: var(--error);
	list-style: none;
}

.btn--danger {
	background-color: var(--error);
	border: var(--error);

	&:hover {
		background-color: var(--error-hover);
		border: var(--error-hover);
	}
}