// dark theme
@media (prefers-color-scheme: dark) {
  :root {
	--background-overlay: #0a0f13;
	--border-section: #14252c;
	--section-inner: #203341;
	--glorious-gradient: linear-gradient(to right, #f27121, #e94e77, #1095c1, #a8ff78);
	--contrast-second: #f1f1f1;
	}
}
