.workspace-create {
	padding-top: 1.5rem;
	margin-bottom: 5rem;
}

.workspace-create__title {
	font-size: 1.3rem;
	font-weight: 600;
	margin-top: 1.2rem;
	margin-bottom: 2rem;
}

.workspace-form {
	
}

.workspace-form__name input {
	max-width: 28rem;
}